@keyframes fade {
	0% { opacity: 0; }
	100% { opacity: 1; }
}

@keyframes meme {
	0% { left: -5% }
	100% { left: 105%; }
}

@keyframes flashing {
	0% { border-color: #000; }
	50% { border-color: #888; }
	100% { border-color: #000; }
}

@keyframes slide {
	0% {
		// max-height: 0px;
		opacity: 0;
		transform: translate(0px, 32px);
	}
	100% {
		// max-height: 100px;
		opacity: 1;
		transform: translate(0px, 0px);
	}
}

.comment-enter-active {
  transition: all 0.2s ease;
  max-height: 1000px;
}
.comment-enter-from {
  opacity: 0;
  transform: translateX(-30px);
  // max-height: 0px;
}

.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.5s ease;
}

.fade-enter-from,
.fade-leave-to {
  opacity: 0;
}
