// player dimensions, hardcoded for now
$width: 1280px;
// $height: 720px;
$center: true;

@import url('https://fonts.googleapis.com/css2?family=Inter&family=Open+Sans&display=swap');

@import "@fontsource/inter";

@import "animations";
@import "comments";
@import "input";

#playback_info {
	overflow: hidden;
	font-size: 14px;
	font-weight: 700;
	// width: $width;
	width: 100%;
	background: #222;
	color: #fff;
	padding: 2px 4px;
}

.meme {
	position: absolute;
	left: 50%;
	bottom: -5px;
	animation: 60s meme linear infinite;
	/*
	-webkit-transform: translate(-50%, -50%);
  	transform: translate(-50%, -50%);
	pointer-events: none;
	*/
}

.meme-bg {
	// background-image: url(https://i.imgur.com/0Lwjy2o.gif);
	background-repeat: no-repeat;
	background-size: cover;
	image-rendering: crisp-edges;
	// position: absolute;
	left: 0;
	// right: 0;
	top: 0;
	width: 100%;
	aspect-ratio: 16 / 9;
	// bottom: 0;
	z-index: -1;
}

/*
p {
	margin: 3px 0;
	padding: 0;
}
*/
