// player dimensions, hardcoded for now
$width: 1280px;
$height: 720px;
$center: true;

@import url('https://fonts.googleapis.com/css2?family=Inter&family=Open+Sans&display=swap');

@keyframes fade {
	0% { opacity: 0; }
	100% { opacity: 1; }
}

@keyframes meme {
	0% { left: -5% }
	100% { left: 105%; }
}

@keyframes flashing {
	0% { border-color: #000; }
	50% { border-color: #888; }
	100% { border-color: #000; }
}

@keyframes slide {
	0% { max-height: 0px; }
	100% { max-height: 100px; }
}

* { box-sizing: border-box; }

body {

	font: 12px 'Roboto', 'Open Sans', 'Arial';
	
	height: 100%;
	margin: 0;
	padding: 0;
	/* background: #0f0; */
	background: #111;
}

table {
	font-family: 'Open Sans', Arial;
	font-size: 12px;
	color: #ccc;
	width: 100%;
	td { 
		border-collapse: collapse;
		padding: 0;
		margin: 0;
	}
}

hr {
	height: 1px;
	border: none;
	background-color: #444;
}

#app {
	width: $width;
	@if $center {
		margin: 0 auto;
	}
}

#comments {

	padding: 5px;

	font-size: 12px;
	color: #fff;

	/* height: 100%; */
	width: 25%;
	overflow: hidden;

	position: absolute;
	top: 0%;
	bottom: 0%;

	pointer-events: none;
	
	&.align-left {

		top: 0px;
		left: 0px;

		&.has-gradient {
			/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#000000+0,7db9e8+100&1+0,0+100 */
			background: -moz-linear-gradient(left, rgba(0,0,0,0.7) 0%, rgba(125,185,232,0) 100%); /* FF3.6-15 */
			background: -webkit-linear-gradient(left, rgba(0,0,0,0.7) 0%,rgba(125,185,232,0) 100%); /* Chrome10-25,Safari5.1-6 */
			background: linear-gradient(to right, rgba(0,0,0,0.7) 0%,rgba(125,185,232,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
		}			
	}

	&.align-right {

		top: 0px;
		right: 0px;

		&.has-gradient {
			/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#000000+0,7db9e8+100&1+0,0+100 */
			background: -moz-linear-gradient(right, rgba(0,0,0,0.7) 0%, rgba(125,185,232,0) 100%); /* FF3.6-15 */
			background: -webkit-linear-gradient(right, rgba(0,0,0,0.7) 0%,rgba(125,185,232,0) 100%); /* Chrome10-25,Safari5.1-6 */
			background: linear-gradient(to left, rgba(0,0,0,0.7) 0%,rgba(125,185,232,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
		}
	}

	&.text-left {
		text-align: left;
	}

	&.text-right {
		text-align: right;
	}

	&.has-fill40 {
		background: rgba(0, 0, 0, .4);
	}

	&.has-fill80 {
		background: rgba(0, 0, 0, .8);
	}

	.comment {
		min-height: 20px;
		
		// broken atm
		// animation: slide 0.3s ease-out;
		// overflow: hidden;
	}

	&.has-stroke .comment {
		text-shadow:
			-1px -1px 0 #111,  
			1px -1px 0 #111,
			-1px 1px 0 #111,
			1px 1px 0 #111,
		1px 1px 3px rgba(0,0,0,.7);
	}

	/*
	span {
		padding: 0 1px;
	}
	*/

	.time {
		color: #aaa;
	}

	/*
	#comments .badge {
		display: inline-block;
		font-weight: 700;
		color: #eee;
		padding: 0 3px;
		background: #832B2B;
		border-radius: 3px;
		margin: 0 2px;
	}

	#comments .badge.premium {
		background: #427EBC;
	}
	*/

	.badge {
		display: inline-block;
		margin: 0 3px;
	}

	.name {
		font-weight: 700;
		color: #ccc;
	}

	.emote {

		max-height: 32px;

		&.is-small {
			max-height: 18px;
		}

	}

	img {
		vertical-align: middle;
	}

	
	&.niconico {

		width: $width;
		height: $height;

		display: block;

		// position: relative;

		overflow: hidden;

		.comment {

			display: block;
			width: 800px;
			overflow: hidden;

			font-size: 2em;

			position: absolute;

			.body { display: inline-block }

			.text { display: inline-block; margin-right: 5px; }

			.name { display: none; }
			.badges { display: none; }

		}

	}
	

}

#player {

	width: $width;
	height: $height;

	aspect-ratio: 16 / 9;

	position: relative;

	overflow: hidden;

	/* margin: auto; */

	// pointer-events: none; // smart?

}

#player:fullscreen {
	width: 100%;
	height: 100%;
}

#video {
	width: 100%;
	height: 100%;
	/* background: #3D4470; */
	background: #f0f;
}

#video_container {
	width: 100%;
	height: 100%;
	video {
		width: 100%;
		height: 100%;
	}
	iframe {
		pointer-events: none; // maybe
	}
}

#osd {
	display: none;
	position: absolute;
	left: 640px;
	top: 360px;
	background: #f00;
	color: #fff;
	padding: 10px;
	font-family: Consolas, monospace;
}

#osd.running {
	background: #00f;
}

#controls {
	// width: $width;
	width: 100%;
}

.option-row {
	display: flex;
}

.option-row .option-group {
	flex-grow: 1;
	flex-basis: 33%;
}

.option-group {

	margin: 1px;

	border: 1px solid #666;
	background: #222;
	color: #ccc;

	box-shadow: inset 0 -1px 10px rgba(0, 0, 0, .2);

	&.ok {
		background: #3B5134;
		border-color: #5D963A;
	}

	h2 {
		font-size: 16px;
		margin: 0;
		padding: 0 0 1px 0;
	}

	.option-title {
		color: #ddd;
		padding: 2px 4px;
		// background: #333;
		background-image: linear-gradient(#444, #333);
		font-weight: 700;
		font-size: 90%;
		letter-spacing: 0.05em;
		text-shadow: 0 1px 2px rgba(0, 0, 0, .6);
		border-bottom: 1px solid #555;
	}

	.option-content {
		padding: 5px;
	}

}

#timeline {
	position: relative;
	overflow: hidden;
	height: 24px;
	font-size: 14px;
	font-weight: 700;
	// width: $width;
	width: 100%;
	background: #222;
	border-bottom: 1px solid #333;
	color: #fff;
	cursor: pointer;
}

#timeline-text {
	position: absolute;
	top: 0px;
	left: 0px;
	color: #fff;
	padding: 4px;
}

#timeline-seekbar {
	position: absolute;
	top: 0px;
	left: 0px;
	width: 50%;
	background: linear-gradient(#ad2020, #622);
	height: 24px;
}

#timeline-markers {
	position: relative;
	// width: $width;
	width: 100%;
	// height: 16px;
	pointer-events: none;
}

.timeline-marker {
	position: absolute;
	top: 0px;
	left: 0px;
	height: 16px;
	padding-left: 2px;
	border-left: 1px solid #555;
	font-family: 'Roboto Condensed';
	font-weight: 400;
	color: #ccc;
}

#playback_info {
	overflow: hidden;
	font-size: 14px;
	font-weight: 700;
	// width: $width;
	width: 100%;
	background: #222;
	color: #fff;
	padding: 2px 4px;
}

.help-text {
	color: #aaa;
	font-weight: 300;
	font-size: 90%;
	margin: 0 0 3px 0;
	padding: 0;
}

.button {

	font-family: inherit;

	background: #555;
	border: 1px solid #252525;
	color: #ccc;
	padding: 4px 10px;
	
	text-shadow: 0 1px 2px rgba(0, 0, 0, .2);
	box-shadow: inset 0 -1px 2px rgba(0, 0, 0, .4);

	// border-radius: 3px;

	&:not(:disabled):hover {
		background: #666;
		// border-color: #999;
		color: #fff;
		cursor: pointer;
	}

	&:disabled {
		color: #777;
		cursor: not-allowed;
	}

	&.is-small {
		font-size: 0.9em;
		padding: 2px 8px;
	}

	&.color-green {
		background: #2a974f;
	}

	&.is-flashing {
		animation: 1s infinite flashing ease-in-out;
	}

	&.is-submit {
		color: #eee;
		// border-color: #222;
		background: #1d912d;
		&:hover {
			background-color: lighten(#1d912d, 5%);
		}
	}

}

.button-group {
	display: flex;
	flex-direction: row;
	margin-bottom: 2px;
	
	.button {
		flex-grow: 1;
	}

}

.input-range {
	height: 18px;
	vertical-align: -2px;
}

#video-controls {
	background-color: #151515;
	display: flex;
	align-items: center;
	padding: 4px;
}
.video-controls-text {
	color: #aaa;
	padding-left: 5px;
	font-size: 1.3em;
}
.pb-button {
	font-family: inherit;
	font-size: 1.2em;
	padding: 3px 10px;
	background-color: #333;
	color: #fff;
	border: 1px solid #222;
	cursor: pointer;
	&:hover {
		background-color: #555;
	}
	&.is-submit {
		background-color: #219c21;
	}
}

.control {
	&.fullwidth {
		input {
			width: 100%;
		}
	}
}

input, select {

	font-family: inherit;

	background: #555;
	border: 1px solid #717171;
	color: #ccc;
	padding: 3px 6px;
	margin: 1px 0;

	border-radius: 3px;

	optgroup {
		background-color: #666;
	}

	&[type="file"] {
		width: 100%;
	}

	&[type="range"]{
		height: 16px;
		vertical-align: middle;
	}

	&.fullsize {
		width: 100%;
	}

	&:focus {
		border-color: #999;
		color: #fff;
	}

}

.meme {
	position: absolute;
	left: 50%;
	bottom: -5px;
	animation: 60s meme linear infinite;
	/*
	-webkit-transform: translate(-50%, -50%);
  	transform: translate(-50%, -50%);
	pointer-events: none;
	*/
}

.meme-bg {
	background-image: url(https://i.imgur.com/0Lwjy2o.gif);
	background-repeat: no-repeat;
	background-size: cover;
	image-rendering: crisp-edges;
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
}

.is-error {
	color: #bd2525;
}

/*
p {
	margin: 3px 0;
	padding: 0;
}
*/