@keyframes fade {
	0% { opacity: 0; }
	100% { opacity: 1; }
}

* { box-sizing: border-box; }

body {

	font: 12px 'Open Sans', 'Arial';
	
	height: 100%;
	margin: 0;
	padding: 0;
	/* background: #0f0; */
	background: #111;
}

#comments {

	padding: 5px;

	font-size: 12px;
	color: #fff;

	/* height: 100%; */
	width: 25%;
	overflow: hidden;

	position: absolute;
	top: 0%;
	bottom: 0%;

	pointer-events: none;
	
	&.left {
		top: 0px;
		left: 0px;
		&.has-gradient {
			/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#000000+0,7db9e8+100&1+0,0+100 */
			background: -moz-linear-gradient(left, rgba(0,0,0,0.7) 0%, rgba(125,185,232,0) 100%); /* FF3.6-15 */
			background: -webkit-linear-gradient(left, rgba(0,0,0,0.7) 0%,rgba(125,185,232,0) 100%); /* Chrome10-25,Safari5.1-6 */
			background: linear-gradient(to right, rgba(0,0,0,0.7) 0%,rgba(125,185,232,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
		}			
	}

	&.right {
		top: 0px;
		right: 0px;
		&.has-gradient {
			/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#000000+0,7db9e8+100&1+0,0+100 */
			background: -moz-linear-gradient(right, rgba(0,0,0,0.7) 0%, rgba(125,185,232,0) 100%); /* FF3.6-15 */
			background: -webkit-linear-gradient(right, rgba(0,0,0,0.7) 0%,rgba(125,185,232,0) 100%); /* Chrome10-25,Safari5.1-6 */
			background: linear-gradient(to left, rgba(0,0,0,0.7) 0%,rgba(125,185,232,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
		}
	}

	&.text-left {
		text-align: left;
	}

	&.text-right {
		text-align: right;
	}

	&.has-fill {
		background: rgba(0, 0, 0, .4);
	}

	.comment {
		min-height: 20px;
		/* animation: fade 0.2s; */
	}

	&.has-stroke .comment {
		text-shadow:
			-1px -1px 0 #111,  
			1px -1px 0 #111,
			-1px 1px 0 #111,
			1px 1px 0 #111,
		1px 1px 3px rgba(0,0,0,.7);
	}

	/*
	span {
		padding: 0 1px;
	}
	*/

	.time {
		color: #aaa;
	}

	/*
	#comments .badge {
		display: inline-block;
		font-weight: 700;
		color: #eee;
		padding: 0 3px;
		background: #832B2B;
		border-radius: 3px;
		margin: 0 2px;
	}

	#comments .badge.premium {
		background: #427EBC;
	}
	*/

	.badge {
		display: inline-block;
		margin: 0 3px;
	}

	.name {
		font-weight: 700;
		color: #ccc;
	}

	.emote {
		max-height: 32px;
	}

	img {
		vertical-align: middle;
	}

}

#player {
	width: 1280px;
	height: 720px;
	position: relative;
	/* margin: auto; */
}

#player:fullscreen {
	width: 100%;
	height: 100%;
}

#video {
	width: 100%;
	height: 100%;
	/* background: #3D4470; */
	background: #f0f;
}

#osd {
	display: none;
	position: absolute;
	left: 640px;
	top: 360px;
	background: #f00;
	color: #fff;
	padding: 10px;
	font-family: Consolas, monospace;
}

#osd.running {
	background: #00f;
}

#controls {
	width: 1280px;
}

.option-row {
	display: flex;
}

.option-row .option-group {
	flex-grow: 1;
	flex-basis: 33%;
}

.option-group {

	margin: 1px;
	padding: 5px;

	border: 1px solid #666;
	background: #222;
	color: #ccc;

}

.option-group.ok {
	background: #3B5134;
	border-color: #5D963A;
}

.option-group h2 {
	font-size: 16px;
	margin: 0;
	padding: 0 0 1px 0;
}

#timeline {
	font-size: 14px;
	font-weight: 700;
	width: 1280px;
	padding: 5px;
	background: #222;
	color: #fff;
}

.help-text {
	color: #aaa;
	font-weight: 300;
	font-size: 90%;
}

.button {
	background: #555;
	border: 1px solid #666;
	color: #ccc;
	padding: 4px 15px;


	&:not(:disabled):hover {
		background: #666;
		border-color: #999;
		color: #fff;
		cursor: pointer;
	}

	&:disabled {
		color: #777;
		cursor: not-allowed;
	}

	&.is-small {
		font-size: 0.9em;
		padding: 2px 8px;
	}

	&.color-green {
		background: #2a974f;
	}

}

.button-group {
	display: flex;
	flex-direction: row;
	margin-bottom: 2px;
	
	.button {
		flex-grow: 1;
	}

}

.input-range {
	height: 16px;
	vertical-align: -2px;
}

input {

	background: #555;
	border: 1px solid #717171;
	color: #ccc;
	padding: 3px 6px;
	margin: 0;

	&:focus {
		border-color: #999;
		color: #fff;
	}

}

p {
	margin: 3px 0;
	padding: 0;
}